*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;

}
.cabecalho{
    background-color: #424E61;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.cabecalho-lista-item{
    display: inline-flex;
    margin: 24px;
}
.logo-escola{
    width: 16%;
}
.escola{
    background-image: linear-gradient(#424E61,#4EBFE9);
    color: #ffffff;
    display: flex;
    justify-content:space-around;
    text-align: justify;

} 
.escola-div{
    padding: 100px;
    align-items: center;
    text-align: justify;
}
.titulo-sobre-escola{
    padding: 24px 0 ;
}
.paragrafo-sobre{
    padding: 2px;
}
.escola-imagem{
    width: 25%;
    height: 25%;
    padding: 25px;
    margin: 16px;
}
.estudante-titulo{
    text-align: center;
}
.estudante-imagem{
    width: 120px;
}
.imagem-icone{
    width: 24px;
    text-align: center;
}
.estudante-div{
    text-align: center;
    padding: 24px;;
}
.estudante-grade{
    display: grid;
    grid-template-columns: 15% 15% 15% 15% 15%;
}
.rodape{
    background-color: black;
    text-align: center;
}
.rodape-imagem{
    height: 54px;
    padding: 12px 0;
}